<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${titlePage}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/mywebapp.css}">
</head>
<body>
<div class="container-fluid ">-->
    <div class="text-center"><h1>[[${titlePage}]]</h1></div>
    <div if="${message}" class="alert-success text-center">
        [[${message}]]
    </div>
    <form  th:action="@{/sector/save}" method="post" th:object="${sector}" style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{secId}">
        <div class="form-group row">
            <label class="col-sm-4  col-form-label">Sector Id</label>
            <div class="col-sm-8">
                <input  type="text" th:field="*{secId}" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4  col-form-label">Sector Name</label>
            <div class="col-sm-8">
                <input  type="text" th:field="*{secName}" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4  col-form-label">Select District</label>
            <div class="col-sm-8">
                <select th:field="*{district}"  class="form-control">
                    <th:block th:each="dis :${districtList}">
                        <option th:text="${dis.distName}" th:value="${dis.distId}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">Save </button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
        </div>
    </form>
</div>

</body>
</html>